<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Need to Contact me? You can through: </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
                <p>Reminder</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
                <p>{{ site.email }}</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
                <p>Google Chat</p>
        </div>

    </div>
</section>
